{
    "anime": "Discuss anime, waifus, catgirls and related degeneracy here",
    "piracy": "Discuss ships, plundering, plank-walking, and scurvy here",
    "politics": "NO FLAME WARS. NO INSULTS. NO TROLLING. NO \"BECAUSE I FEEL THAT WAY\"",
    "ableton-live": "Talk about anything related to Ableton Live",
    "feet-pics": "Post pictures of your bare feet",
}